/**** Apply Strip Local Build ****/
/********************* Links ***********************/
section.foot-links {
  background-color: #FFF;
  padding-top: 40px;
}

.foot-link-flex {
  display: flex;
  align-items: center;
}

.foot-link-buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  -ms-flex-pack: center;
  width: 100%;
}

.direc-link {
  text-align: center;
  font-size: 1.5em;
  margin: 0 20px 20px;
  text-transform: uppercase;
}

.direc-btn {
  margin-bottom: 0px;
  border-radius: 50%;
  transition: all 0.3s linear;
}

.direc-btn:hover {
  transform: scale(1.08);
}

.direc-anchor {
  font-family: "tradegothiclt", sans-serif;
  color: #492365 !important;
  transition: all 0.3s linear;
}

a.direc-anchor:hover {
  color: #8446AC !important;
}

@media screen and (prefers-reduced-motion: reduce) {
  a.direc-anchor:hover {
    transform: none;
  }
}
svg.foot-icons {
  fill: #492365;
  height: 130px;
}

svg.foot-icons:hover {
  fill: #8446AC;
}

/********************** media queries *****************/
@media screen and (max-width: 1024px) {
  .foot-link-flex {
    border-right: none;
  }
}
@media only screen and (max-width: 480px) {
  .foot-link-buttons {
    flex-direction: column;
    align-items: center;
  }
}
/***** Admissions SubPages ********/
.main-content__title {
  text-align: center;
}
.main-content__partitions__right {
  border-left: 2px solid #575047;
}
.main-content__partitions__right > .main-content__partitions__right .main-content__partitions__right__item {
  padding-top: 15px;
}
.main-content__item--underlined {
  border-bottom: 2px solid #575047;
}
.main-content__item__badges {
  display: flex;
  justify-content: space-evenly;
}

.foot-link-flex {
  border-bottom: 2px solid #575047;
}

/**************/
