/*************** Early College ****************/
.additional-header__banner--early-college {

  @include bg-interchange-retina('https://www.weber.edu/wsuimages/Admissions/site-files/images/early-college-banner-1x.jpg');

  max-height: 700px;
  min-height: 400px;

  @include bg-img-placement(left, center);
}

.additional-header__banner-text--early-college {
  margin-right: 6vw;
}