html {
  scroll-behavior: smooth
}
/************ Hover Map ***************************/
.map-full-screen {
  position: relative;
  padding-bottom: 2em;
  display: flex;
  justify-content: center;
  @media #{$target-laptop-under} {
    display: none;
  }
}
.map-wrap {
  width: 80vw;
}

.counselor-region:hover {
  cursor: pointer;
  transition: fill 0.3s;
}

.st0:hover {fill:#490e68;}
.st1:hover {fill:#726e87;}
.st2:hover {fill:#64357d;}
.st3:hover {fill:#490e68;}
.st4:hover {fill:#a191b2;}
.st5:hover {fill:#726e87;}
.st6:hover {fill:#7e56c6;}
.st7:hover {fill:#9b77a7;}


/************ Admissions Counselors ***************/
.card-admissions-counselor {
  //padding-bottom: 6%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  max-width: 400px;
  padding: 2em;
  border-radius: 20px;
  &__header-image {
    &__image {
      width: 100%
    }
  }
  &__title {
    padding: 10px;
    margin: 0;
    font-size: 1.7em !important;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    font-family: $font-tgc18 !important;
  }
  &__content {
    padding: 0 1.5em;
    text-align: center;
    &__contact {
      display: flex;
      flex-direction: column;
    }
    &__territories {
      text-align: initial;
      font-size: 90%;
    }
  }
}

/********************* Admissions Counselor Hover Card ***************/
.deck-holder {
  position: absolute;
  z-index: 1000;
}
.deck-wrap {
  position: relative;
  display: flex;
  justify-content: center;
}
.card-counselor {
  display: flex;
  visibility: hidden;
  opacity: 0;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  position: absolute;
  background-color: #FFF;
  padding-top: 20px;
  padding-bottom: 10px;
  border-radius: 20px;
  transition: opacity 0.3s;
  font-size: 75%;
  width: 200px;
  &__header-image {
    text-align: center;
    &__image {
      width: 75%
    }
  }
  &--utah {
    width: 500px;
    top: 15%;
    left: 35%;
    &__counselor-list {
      font-size: 80%;
      list-style-type: none;
      &__item {
        h3 {
          padding: 0;
        }
        p {
          margin-bottom: 0;
        }
      }
    }
  }
  &__title {
    padding: 10px 0;
    margin: 0;
    font-size: 1.7em !important;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    font-family: $font-tgc18 !important;
    font-weight: bold;
  }
  &__content {
    padding: 0 1.5em;
    text-align: center;
    &__contact {
      display: flex;
      flex-direction: column;
    }
  }
}
