/********Arts and Humanities Contact Footer**************/

.custom-hr {
text-align: center;
}

.custom-hr img {
width: 30px;
position: relative;
top: -35px;
}
/*********************Footer Links***********************/

section.foot-links {
background-color: #FFF;
    padding-bottom: 0;
}

.foot-link-flex {
display: flex;
align-items: center;
border-right: 2px solid #492365;
}

.foot-link-buttons {
display: flex;
justify-content: space-around;
align-items: center;
-ms-flex-pack: center;
width: 100%;
}

.direc-link {
text-align: center;
font-size: 1.2em;
margin: 0 20px 20px;
}

.direc-btn {
margin-bottom: 0px;
height: 120px;
border-radius: 50%;
transition: all 0.3s linear;
}

.direc-anchor {
font-family: 'tradegothiclt-bold', sans-serif;
text-decoration: none !important;
color: #492365 !important;
}

a.direc-anchor:hover {
color: #8446AC !important;
}

svg.foot-icons {
fill: #492365;
height: 100px;
}

svg.foot-icons:hover {
fill: #8446AC;
}

.dir-icon {
height: 100px;
}

/*****************social links**********************************/

ul.social-icon-links {
font-size: 2.5em;
color: #492365;
text-align: center;
}


.social-icon-links li {
list-style-type: none;
display: inline-block;
}

.social-icon-links li a {
text-decoration: none;
color: #492365;
}

.social-icon-links li a:hover {
color: #8446AC;
}

/**********************media queries*****************/

@media screen and (max-width: 1024px) { 
.foot-link-flex {
border-right: none;
}
}


@media only screen and (max-width: 480px) {
.foot-link-buttons {
flex-direction: column;
align-items: center;
}
}