/************* Parents *******************/
.additional-header__banner--parents {

  @include bg-interchange-retina('https://www.weber.edu/wsuimages/Admissions/site-files/images/parents-banner-1x.jpg');

  max-height: 700px;
  min-height: 400px;

  @include bg-img-placement(center, center);
}

.additional-header__banner-text--parents {
  margin-right: 6vw;
}