/** banner local build - MAIN TEMPLATE **/
//
// always add specific .-modifier
//
.additional-header__banner--page-name {
  //
  //creates media queries for both 1x and 2x resolutions of a background image
  //start with the url for the '1x' version of the image
  //
  @include bg-interchange-retina('https://apps.weber.edu/wsuimages/Admissions/site-files/css/images/sample-banner-1x.jpg');

  max-height: 700px;
  min-height: 350px;

  @include bg-img-placement(right, top);
}

.cls-1 {
  fill: #FFF;
}