
.additional-header__banner--freshmen-out-state {

  @include bg-interchange-retina('https://apps.weber.edu/wsuimages/Admissions/site-files/images/out-of-state-new-banner-1x.jpg');
  @include bg-img-placement(center, center);

  max-height: 700px;
  min-height: 400px;
}

.additional-header__banner-text--freshmen-out-state {
  margin-left: 6vw;
}

