/************* New Freshmen *******************/
.additional-header__banner--new-freshmen {

  @include bg-interchange-retina('https://apps.weber.edu/wsuimages/Admissions/site-files/images/sample-banner-1x.jpg');

  //max-height: 700px;
  min-height: 475px;

  @include bg-img-placement(20%, top);
}

.additional-header__banner-text--new-freshmen {
  margin-right: 1vw;
  max-width: 650px;
  @media #{$target-tablet} {
    margin-right: 0;
  }
}