
.additional-header__banner--new-freshmen {

  @include bg-interchange-retina('https://apps.weber.edu/wsuimages/Admissions/site-files/images/sample-banner-1x.jpg');

  max-height: 700px;
  min-height: 400px;

  @include bg-img-placement(right, top);
}

.additional-header__banner-text--new-freshmen {
  margin-right: 9vw;
}