/****** Utilities *******/
/******* Templates *******/
/**** Apply Strip Local Build ****/
/********************* Links ***********************/
section.foot-links {
  background-color: #FFF;
  padding-top: 40px;
}

.foot-link-flex {
  display: flex;
  align-items: center;
}

.foot-link-buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  -ms-flex-pack: center;
  width: 100%;
}

.direc-link {
  text-align: center;
  font-size: 1.5em;
  margin: 0 20px 20px;
  text-transform: uppercase;
}

.direc-btn {
  margin-bottom: 0px;
  border-radius: 50%;
  transition: all 0.3s linear;
}

.direc-btn:hover {
  transform: scale(1.08);
}

.direc-anchor {
  font-family: "tradegothiclt", sans-serif;
  color: #492365 !important;
  transition: all 0.3s linear;
  font-size: large;
}

a.direc-anchor:hover {
  color: #8446AC !important;
}

@media screen and (prefers-reduced-motion: reduce) {
  a.direc-anchor:hover {
    transform: none;
  }
}
svg.foot-icons {
  fill: #492365;
  height: 130px;
  max-width: 100px;
}

svg.foot-icons:hover {
  fill: #8446AC;
}

/********************** media queries *****************/
@media screen and (max-width: 1024px) {
  .foot-link-flex {
    border-right: none;
  }
}
@media only screen and (max-width: 480px) {
  .foot-link-buttons {
    flex-direction: column;
    align-items: center;
  }
}
/***** Admissions SubPages ********/
.showcase-html-section {
  box-shadow: none;
}

.mega-menu {
  position: initial;
}

.mobile-logo {
  position: initial;
  margin-top: 50px;
}

.banner--aspect-3200-1000 {
  height: calc(100vw * (1000 / 3200));
}

.additional-header__banner-text {
  margin-right: 9vw;
  max-width: 586px;
  width: 40%;
  min-width: 350px;
}
@media only screen and (max-width: 767px) {
  .additional-header__banner-text {
    margin-right: 0;
  }
}

.main-content__date-table tbody {
  border: none;
}
.main-content__title {
  text-align: center;
  font-family: "tradegothicltstd-boldext", sans-serif !important;
  color: #492365 !important;
  font-size: 2rem !important;
}
.main-content__title span {
  font-size: 0.8em;
}
.main-content__partitions__right {
  border-left: 2px solid #575047;
}
@media only screen and (max-width: 1023px) {
  .main-content__partitions__right {
    border-left: none;
  }
}
.main-content__partitions__right > .main-content__item {
  padding-top: 15px;
}
.main-content__item {
  padding: 15px 0;
}
.main-content__item .main-content__item__title {
  font-family: "tradegothicltcom-bd2", sans-serif !important;
  text-transform: uppercase !important;
  font-size: 1.3em !important;
}
.main-content__item__tuition-amount {
  font-family: "tradegothicltstd-boldext", sans-serif;
  font-size: 3.1em;
  display: block;
}
.main-content__item--underlined {
  border-bottom: 2px solid #575047;
}
.main-content__item__list {
  list-style-type: none;
}
.main-content__item__video {
  margin: 15px 0 10px;
}
.main-content__item__badges {
  display: flex;
  justify-content: space-evenly;
}
.main-content__item__badges__badge {
  max-width: 200px;
}
.main-content__item__follow {
  display: flex;
}
.main-content__item__follow a:hover {
  transform: scale(1.1);
}

.foot-link-flex {
  border-bottom: 2px solid #575047;
}

/*** Banners *****/
/** banner local build - MAIN TEMPLATE **/
.additional-header__banner--page-name {
  background-image: url("https://apps.weber.edu/wsuimages/Admissions/site-files/css/images/sample-banner-1x.jpg");
  max-height: 700px;
  min-height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right top;
}
@media only screen and (min-width: 1024px) and (min-resolution: 192dpi) {
  .additional-header__banner--page-name {
    background-image: url("https://apps.weber.edu/wsuimages/Admissions/site-files/css/images/sample-banner-2x.jpg");
  }
}

.additional-header__banner--new-freshmen {
  background-image: url("https://apps.weber.edu/wsuimages/Admissions/site-files/images/sample-banner-1x.jpg");
  max-height: 700px;
  min-height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right top;
}
@media only screen and (min-width: 1024px) and (min-resolution: 192dpi) {
  .additional-header__banner--new-freshmen {
    background-image: url("https://apps.weber.edu/wsuimages/Admissions/site-files/images/sample-banner-2x.jpg");
  }
}
