/*************** Concurrent Enrollment ****************/
.additional-header__banner--ce {

  @include bg-interchange-retina('https://www.weber.edu/wsuimages/Admissions/site-files/images/concurrent-enrollment-banner-1x.jpg');

  //max-height: 650px;
  min-height: 475px;

  @include bg-img-placement(left, center);
}

.additional-header__banner-text--ce {
  margin-right: 1vw;
  max-width: 650px;
  @media #{$target-tablet} {
    margin-right: 0;
  }
}