/************* Admissions Home *******************/
/*a:visited {
  color: inherit;
}*/

.additional-header__banner--admissions-home {
  @include bg-interchange-retina('https://apps.weber.edu/wsuimages/Admissions/site-files/images/admissions-home-banner-1x.jpg');
  @include bg-img-placement(right, top);
}

.additional-header__banner-text--admissions-home {
  //margin-left: 9vw;
}
.apply-strip--home .foot-links {
  padding-top: 0;
}
h2.main-content__home-title span {
  font-size: 0.8em !important;
}

$border-thin: 1px solid wsu-palette($wcpurp-colors, 2);
$border-medium: 3px solid wsu-palette($wcpurp-colors, 2);
$border-thick: 5px solid wsu-palette($wcpurp-colors, 1);

$height-box: 180px;
$height-button: 145px;

@font-face {
  font-family: "just-lovely";
  src: url("https://www.weber.edu/wsuimages/Admissions/site-files/fonts/just-lovely.ttf");
}

.home-page-nav {
  &__link-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 293px);
    grid-gap: 15px;
    justify-content: center;
    margin: 0 auto;
    list-style-type: none !important;
  }
  &__link {
    display: flex;
    background-color: wsu-palette($wcpurp-colors, 4);
    @include flex-column(center, center);
    height: $height-button;
    padding: 1.8em;
    text-decoration: none !important;
    text-align: center;
    color: wsu-palette($wcpurp-colors, 1) !important;
    font-size: 1.3em;
    font-family: $font-tg;
    transition: transform 0.5s, background-color 0.3s, background-position 0.5s, background-size 0.3s, border 0.3s !important;
    box-shadow: inset 0 0 15px 0 rgba(131,129,133,0.4);
    &:hover {
      background-color: wsu-palette($hlcolor-colors, 1) !important;
      color: #FFF !important;
      transform: scale(1.03);
    }
    &:visited {
      color: wsu-palette($wcpurp-colors, 1) !important;
    }
  }
}

.home-page-nav {
   &__link-grid.--shadow-out{
     & > .home-page-nav__link {
       box-shadow: 1px 1px 7px 1px rgba(131, 129, 133, 0.6);
       &:hover {
         background-color: wsu-palette($hlcolor-colors, 1);
         color: #FFF !important;
         transform: scale(1.03);
       }
     }
   }
 }

.home-page-nav {
  &__link-grid.--no-shadow {
    & a.home-page-nav__link {
      box-shadow: none;
      &:hover {
        background-color: wsu-palette($hlcolor-colors, 1);
        color: #FFF !important;
        transform: scale(1.05);
      }
    }
  }
}

.home-page-nav {
  &__link-grid.--subtle-gradient {
    & > .home-page-nav__link {
      color: #FFF;
      background-image: linear-gradient(
                      to right bottom,
                      wsu-palette($hlcolor-colors, 1) 47%,
                      #840a94 100%);
      height: 145px;
      &:hover {
        background-size: 283% 283%;
        transform: scale(1.05);
      }
    }
  }
}

.main-content__cta {
  &__wrap {
  }
  &__list {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    list-style-type: none !important;
    margin: 0;
    @media #{$target-tablet} {
      display: block;
      flex-direction: column;
    }
    &__link {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-decoration: none !important;
      color: wsu-palette($unigray-colors, 1) !important;
      padding: 1.5em 1em;
      font-size: 1.5em;
      text-align: center;
      font-family: $font-tgbe;
      transition: all 0.5s !important;
      height: 100%;
      line-height: 1em;
      & span {
        font-family: "just-lovely", cursive;
        font-size: 2.5em;
        line-height: 1em;
      }
      &:visited {
        color: $gray-text !important;
      }
      &:hover {
        background-color: wsu-palette($hlcolor-colors, 1);
        color: #FFF !important;
        transform: scale(1.03);
      }
    }
  }
  &__list-item {
    width: 33.33%;
    margin: 0 1em;
    @media #{$target-tablet} {
      width: initial;
      margin: 0 auto 30px;
    }
    &--counselor {
      background-color: wsu-palette($lind-colors, 2);
    }
    &--summer {
      background-color: wsu-palette($east-colors, 3);
    }
    &--applied {
      background-color: wsu-palette($moyes-colors, 2);
    }
  }
}

/******************* CONTACT STRIP FOOTER **********************************/
/********Arts and Humanities Contact Footer**************/

.custom-hr {
  text-align: center;
}

.custom-hr img {
  width: 30px;
  position: relative;
  top: -35px;
}
/*********************Footer Links***********************/

section.foot-links {
  background-color: #FFF;
  padding-bottom: 0;
}

.foot-link-flex {
  display: flex;
  align-items: center;
  border-right: 2px solid #492365;
}

.foot-link-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  -ms-flex-pack: center;
  width: 100%;
}

.direc-link {
  text-align: center;
  font-size: 1.2em;
  margin: 0 20px 20px;
}

.direc-btn {
  margin-bottom: 0px;
  height: 120px;
  border-radius: 50%;
  transition: all 0.3s linear;
}

.direc-anchor {
  font-family: 'tradegothiclt-bold', sans-serif;
  text-decoration: none !important;
  color: #492365 !important;
}

a.direc-anchor:hover {
  color: #8446AC !important;
}

svg.foot-icons {
  fill: #492365;
  height: 100px;
}

svg.foot-icons:hover {
  fill: #8446AC;
}

.dir-icon {
  height: 100px;
}

/*****************social links**********************************/

ul.social-icon-links {
  font-size: 2.5em;
  color: #492365;
  text-align: center;
}


.social-icon-links li {
  list-style-type: none;
  display: inline-block;
}

.social-icon-links li a {
  text-decoration: none;
  color: #492365;
}

.social-icon-links li a:hover {
  color: #8446AC;
}

/**********************media queries*****************/

@media screen and (max-width: 1024px) {
  .foot-link-flex {
    border-right: none;
  }
}


@media only screen and (max-width: 480px) {
  .foot-link-buttons {
    flex-direction: column;
    align-items: center;
  }
}