/************* Admissions Home *******************/
a:visited {
  color: inherit;
}

.additional-header__banner--admissions-home {
  @include bg-interchange-retina('https://apps.weber.edu/wsuimages/Admissions/site-files/images/admissions-home-banner-1x.jpg');
  //max-height: 700px;
  //min-height: 400px;
  @include bg-img-placement(right, top);
}

.additional-header__banner-text--admissions-home {
  //margin-left: 9vw;
}
.apply-strip--home .foot-links {
  padding-top: 0;
}
h2.main-content__home-title span {
  font-size: 0.8em !important;
}

$border-thin: 1px solid wsu-palette($wcpurp-colors, 2);
$border-medium: 3px solid wsu-palette($wcpurp-colors, 2);
$border-thick: 5px solid wsu-palette($wcpurp-colors, 1);

$height-box: 180px;
$height-button: 145px;

@font-face {
  font-family: "just-lovely";
  src: url("https://www.weber.edu/wsuimages/Admissions/site-files/fonts/just-lovely.ttf");
}

.home-page-nav {
  &__link-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 293px);
    grid-gap: 15px;
    justify-content: center;
    //max-width: 940px;
    margin: 0 auto;
    list-style-type: none !important;
  }
  &__link {
    display: flex;
    background-color: wsu-palette($wcpurp-colors, 4);
    @include flex-column(center, center);
    height: $height-button;
    //border-radius: 10px;
    padding: 1.8em;
    text-decoration: none !important;
    text-align: center;
    color: wsu-palette($wcpurp-colors, 1);
    font-size: 1.3em;
    font-family: $font-tg;
    transition: transform 0.5s, background-color 0.3s, background-position 0.5s, background-size 0.3s, border 0.3s !important;
    box-shadow: inset 0 0 15px 0 rgba(131,129,133,0.4);
    &:hover {
      background-color: wsu-palette($hlcolor-colors, 1);
      color: #FFF;
      transform: scale(1.03);
    }
    &:visited {
      color: wsu-palette($wcpurp-colors, 1);
    }
  }
}

.home-page-nav {
   &__link-grid.--shadow-out{
     & > .home-page-nav__link {
       box-shadow: 1px 1px 7px 1px rgba(131, 129, 133, 0.6);
       &:hover {
         background-color: wsu-palette($hlcolor-colors, 1);
         color: #FFF;
         transform: scale(1.03);
       }
     }
   }
 }

.home-page-nav {
  &__link-grid.--no-shadow {
    & a.home-page-nav__link {
      box-shadow: none;
      &:hover {
        background-color: wsu-palette($hlcolor-colors, 1);
        color: #FFF;
        transform: scale(1.05);
      }
    }
  }
}

.home-page-nav {
  &__link-grid.--subtle-gradient {
    & > .home-page-nav__link {
      color: #FFF;
      background-image: linear-gradient(
                      to right bottom,
                      wsu-palette($hlcolor-colors, 1) 47%,
                      #840a94 100%);
      height: 145px;
      &:hover {
        background-size: 283% 283%;
        transform: scale(1.05);
      }
    }
  }
}

.main-content__cta {
  &__wrap {
  }
  &__list {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    list-style-type: none !important;
    margin: 0;
    @media #{$target-tablet} {
      display: block;
      flex-direction: column;
    }
    &__link {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-decoration: none !important;
      //color: #FFF !important;
      color: wsu-palette($unigray-colors, 1);
      padding: 1em 3em;
      font-size: 1.5em;
      font-family: $font-tgbe;
      transition: all 0.5s !important;
      height: 100%;
      line-height: 1em;
      & span {
        font-family: "just-lovely", cursive;
        font-size: 2.5em;
        line-height: 1em;
      }
      &:hover {
        background-color: wsu-palette($hlcolor-colors, 1);
        color: #FFF;
        transform: scale(1.03);
      }
    }
  }
  &__list-item {
    width: 33.33%;
    margin: 0 1em;
    @media #{$target-tablet} {
      width: initial;
      margin: 0 auto 30px;
    }
    &--counselor {
      //background-color: wsu-palette($wsublue-colors, 1);
      background-color: wsu-palette($lind-colors, 2);
    }
    &--summer {
      //background-color: wsu-palette($wsumauve-colors, 1);
      background-color: wsu-palette($east-colors, 3);
    }
    &--applied {
      //background-color: wsu-palette($wsugreen-colors, 1);
      background-color: wsu-palette($moyes-colors, 2);
    }
  }
}